@font-face {
    font-family: yasin;
    src: url(Poppins-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yasin;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(1300702.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    height: 450px;
    background-color: transparent;
    border: 4px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 15px;
    padding: 30px 40px;
    
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 332px;
    height: 50px;
    margin: 30px 0;

}
.input-box input{
    width: 332px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    transition: .5s;
    


}
.input-box input::placeholder{
    color: white;
}
.input-box i {
    position: relative;
    left: 300px;
    top: -35px;
    font-size: 20px;
}
.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.forget{
    color: white;
    text-decoration: none;
}
.forget:hover{
    text-decoration: underline;
}
.btn{
    width: 332px;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: .5s;
}
.register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.p{
    position: absolute;
    top: -1px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
}
.p:hover{
    color: yellow;
    cursor: pointer;
    font-size: 21px;
}
.input-box{
    position: relative;
}
.Password:focus ,.Username:focus{
   transform: scale(1.1,1.1);
    background-color: white;
    color: black;
   
}
.btn:hover{
    transform: scale(.93,.93);
    border: 2px solid red;
}

